[Unit]
Description=Autostart Qt 5 Demo
Wants=systemd-udev-settle.service weston.service
After=systemd-udev-settle.service weston.service

[Service]
Type=simple
User=root
Restart=on-failure
ExecStart=/usr/bin/qtLauncher /usr/bin/QtDemo

[Install]
WantedBy=multi-user.target
