[Unit]
Description=PM2 process manager for node.js applications
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=root
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutSec=infinity
PIDFile=/home/root/.pm2/pm2.pid
Environment=PM2_HOME=/home/root/.pm2
# mraa hardware access module:
Environment=NODE_PATH=/usr/lib/node_modules
Environment=NODE_ENV=production
WorkingDirectory=/srv/nodejs/apps/phytec-html5-demo

ExecStart=/usr/bin/node ./node_modules/pm2/bin/pm2 -x start index.js
#ExecStart=/srv/nodejs/apps/phytec-html5-demo/node_modules/pm2/bin/pm2 resurrect
ExecReload=/srv/nodejs/apps/phytec-html5-demo/node_modules/pm2/bin/pm2 reload all
ExecStop=/srv/nodejs/apps/phytec-html5-demo/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
