[Unit]
Description=OpenSSH Key Generation
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_dsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_ecdsa_key

[Service]
Environment="SYSCONFDIR=/etc/ssh"
Environment="HOST_KEY_RSA=/etc/ssh/ssh_host_rsa_key"
Environment="HOST_KEY_DSA=/etc/ssh/ssh_host_dsa_key"
Environment="HOST_KEY_ECDSA=/etc/ssh/ssh_host_ecdsa_key"
ExecStart=/usr/bin/ssh-keygen -q -f $HOST_KEY_RSA -N '' -t rsa 
ExecStart=/usr/bin/ssh-keygen -q -f $HOST_KEY_DSA -N '' -t dsa
ExecStart=/usr/bin/ssh-keygen -q -f $HOST_KEY_ECDSA -N '' -t ecdsa
Type=oneshot
RemainAfterExit=yes
