# AM62x, AM62Ax, AM62Lx, AM62Px, AM64x, AM67x, AM68x
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2800000.serial", SYMLINK+="serial/by-label/main_uart0"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2810000.serial", SYMLINK+="serial/by-label/main_uart1"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2820000.serial", SYMLINK+="serial/by-label/main_uart2"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2830000.serial", SYMLINK+="serial/by-label/main_uart3"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2840000.serial", SYMLINK+="serial/by-label/main_uart4"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2850000.serial", SYMLINK+="serial/by-label/main_uart5"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2860000.serial", SYMLINK+="serial/by-label/main_uart6"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2870000.serial", SYMLINK+="serial/by-label/main_uart7"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2880000.serial", SYMLINK+="serial/by-label/main_uart8"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2890000.serial", SYMLINK+="serial/by-label/main_uart9"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="4a00000.serial", SYMLINK+="serial/by-label/mcu_uart0"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="4a10000.serial", SYMLINK+="serial/by-label/mcu_uart1"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="2b300000.serial", SYMLINK+="serial/by-label/wkup_uart0"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="42300000.serial", SYMLINK+="serial/by-label/wkup_uart0"
