# Identify K3 PRUs
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="30074000.pru", NAME="pruss-core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="30078000.pru", NAME="pruss-core1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="300B4000.pru", NAME="pruss-core2"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="300B8000.pru", NAME="pruss-core3"

# Identify K3 R5F Cores
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="78000000.r5f", NAME="main_r5fss0_core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="78200000.r5f", NAME="main_r5fss0_core1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="78400000.r5f", NAME="main_r5fss1_core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="78600000.r5f", NAME="main_r5fss1_core1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="79000000.r5f", NAME="mcu_r5fss0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="41000000.r5f", NAME="mcu_r5fss0_core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="41400000.r5f", NAME="mcu_r5fss0_core1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5c00000.r5f", NAME="main_r5fss0_core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5d00000.r5f", NAME="main_r5fss0_core1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5e00000.r5f", NAME="main_r5fss1_core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5f00000.r5f", NAME="main_r5fss1_core1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5900000.r5f", NAME="main_r5fss2_core0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5a00000.r5f", NAME="main_r5fss2_core1"

# Identify K3 M4F Cores
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="5000000.m4fss", NAME="mcu_m4fss"

# Identify K3 DSP Cores
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="64800000.dsp", NAME="c71_0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="65800000.dsp", NAME="c71_1"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="7e000000.dsp", NAME="c7x_0"
SUBSYSTEM=="remoteproc", ACTION=="add", KERNELS=="7e200000.dsp", NAME="c7x_1"
