BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"
MACHINE ?= "phyflex-am335x-1"
#MACHINE ?= "phycore-am335x-1"
PREFERRED_PROVIDER_virtual/mesa = "mesa"
PREFERRED_PROVIDER_virtual/libgl = "mesa"
#MULTI_PROVIDER_WHITELIST += "virtual/mesa virtual/libgl"
IMAGE_INSTALL_remove = "packagegroup-gnome-apps"
TCLIBC = "glibc"
#PREFERRED_PROVIDER_virtual/libintl = "eglibc"
PREFERRED_PROVIDER_virtual/libc = "glibc"
PREFERRED_PROVIDER_eglibc = "glibc"
DL_DIR ?= "/media/data/yocto-downloads"
SSTATE_DIR ?= "/media/data/yocto-sstate/1.7"
DEPLOY_DIR = "${TOPDIR}/deploy"
TMPDIR = "${TOPDIR}/tmp"
DISTRO ?= "angstrom-next"
PACKAGE_CLASSES ?= "package_ipk"
SDKMACHINE ?= "x86_64"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
#TEST_IMAGE = "1"
OE_TERMINAL = "auto"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K" 
#SSTATE_MIRRORS ?= "\
#file://.* http://someserver.tld/share/sstate/PATH;downloadfilename=PATH \n \
#file://.* file:///some/local/dir/sstate/PATH"
PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"
ASSUME_PROVIDED += "libsdl-native"
CONF_VERSION = "1"
#CCACHE = "ccache"
#INHERIT += "ccache"
#CCACHE_DIR = "/home/mueller-klieser/.ccache"
#CCACHE_DISABLE = "0"

