[Unit]
Description=Autostart Qt 5 Demo
Requires=rc.pvr.service
After=rc.pvr.service

[Service]
Type=simple
ExecStart=/usr/bin/qtLauncher /usr/bin/QtDemo

# Detaching the framebuffer console from fb0 crashes for am335x ti kernel
# We need to live with the workaround for now
ExecStartPre=-/bin/sh -c "echo 0 > /sys/class/graphics/fbcon/cursor_blink"
ExecStopPost=-/bin/sh -c "systemctl restart getty@tty1"

[Install]
WantedBy=multi-user.target
