[Unit]
Description=Chromium
Requires=weston.service dbus.service
After=weston.service

[Service]
Environment=WAYLAND_DISPLAY=/run/wayland-0 DEFAULT_WEBPAGE=https://www.phytec.eu
User=weston
WorkingDirectory=~
ExecStart=/usr/bin/chromium --enable-wayland-ime --kiosk --no-first-run $DEFAULT_WEBPAGE

[Install]
WantedBy=graphical.target
