[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = PASSPHRASE
# Extension to add when the -x509 option is used.
x509_extensions     = v3_ca

[dn]
CN = PHYTEC Messtechnik GmbH PHYTEC BSP CA
O = PHYTEC Messtechnik GmbH

[ext]
#subjectAltName = DNS:www.phytec.de,DNS:phytec.de

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:true
