SUBSYSTEM=="i2c-dev", GROUP="phyapix", MODE="0660"
SUBSYSTEM=="iio",     GROUP="phyapix", MODE="0660"
SUBSYSTEM=="misc",    GROUP="phyapix", MODE="0660"
SUBSYSTEM=="spidev",  GROUP="phyapix", MODE="0660"
SUBSYSTEM=="watchdog",GROUP="phyapix", MODE="0660"
SUBSYSTEM=="gpio",    GROUP="phyapix", MODE="0660"
SUBSYSTEM=="tpm",     GROUP="phyapix", MODE="0660"
