[Unit]
Description=Autostart AI Kit Docker Images
After=docker.service
Wants=docker.service
Conflicts=iotedge.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=aikit-docker-images start
ExecStop=aikit-docker-images stop

[Install]
WantedBy=multi-user.target
